<!DOCTYPE html>
<html>
<head>
	<title>Flas SEO - Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="">Flas SEO</a>
		</div>
	</nav>
	<br>
	<div class="container">
		<form method="post">
		  <div class="form-group">
		  	<span>Enter domain</span><br><br>
		    {{form.domain}}
		  <button type="submit" class="btn btn-primary">Check</button>
		</form>
		<br>
		<br>
		<br>
		<h2>Result <span class="badge badge-dark">
			<a href="/download/">Download links</a></span>
		</h2>
		<ol class="list-group">
		  {% if result %}
		  	{% for k in result %}
		  	<li class="list-group-item"><a href="{{k}}">{{k}}</a></li>
		  	{% endfor %}
		  {% else %}
		  	<li class="list-group-item">No Results</li>
		  {% endif %}
		</ol>
	</div>
</body>
</html>